@model IEnumerable<DAL.books>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <!DOCTYPE html>
    <html lang="en-US">

    <head>




        <link rel='stylesheet' id='js_composer_front-css' href="~/Content/plugins/js_composer.min.css" type='text/css' media='all' />



        <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />

        <style type="text/css" data-type="vc_custom-css">
            .right-bookie {
                text-align: right;
            }
        </style>
        <style type="text/css" data-type="vc_shortcodes-custom-css">
            .vc_custom_1453103948085 {
                padding-top: 0px !important;
                padding-bottom: 100px !important;
                background-color: #ffffff !important;
            }

            .vc_custom_1466498262166 {
                background: #f2e7d1 url('../../Content/Images/book/home2-background-01.jpg') !important;
           
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
            }

            .vc_custom_1453120580021 {
                padding-top: 10px !important;
                padding-bottom: 30px !important;
                background-color: #ffffff !important;
            }

            .vc_custom_1466498323667 {
               
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
            }

            .vc_custom_1453187957960 {
                padding-top: 20px !important;
                background-color: #ffffff !important;
            }

            .vc_custom_1453172396803 {
                background-color: #ffffff !important;
            }

            .vc_custom_1453172760665 {
                background-color: #ffffff !important;
            }

            .vc_custom_1453172877236 {
                background-color: #2f2b35 !important;
            }

            .vc_custom_1453187041278 {
                background-color: #27c8ea !important;
            }

            .vc_custom_1453103898737 {
                margin-bottom: 0px !important;
            }

            .vc_custom_1453103761017 {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }

            .vc_custom_1453119830704 {
                padding-top: 50px !important;
            }

            .vc_custom_1453119849805 {
                padding-top: 50px !important;
            }

            .vc_custom_1466498287712 {
                margin-top: -120px !important;
                margin-bottom: 0px !important;
            }

            .vc_custom_1453120217480 {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
            }

            .vc_custom_1453104345036 {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }

            .vc_custom_1453105570459 {
                margin-top: 20px !important;
            }

            .vc_custom_1453104396470 {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }

            .vc_custom_1453105603229 {
                margin-top: 10px !important;
            }

            .vc_custom_1453104412728 {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }

            .vc_custom_1453105609988 {
                margin-top: 10px !important;
            }

            .vc_custom_1453104430065 {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }

            .vc_custom_1453105619181 {
                margin-top: 10px !important;
            }

            .vc_custom_1453123608663 {
                margin-right: 0px !important;
                margin-left: 0px !important;
            }

            .vc_custom_1453123644404 {
                margin-right: 0px !important;
                margin-left: 0px !important;
            }

            .vc_custom_1453171390535 {
                margin-bottom: 0px !important;
            }

            .vc_custom_1453171346751 {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }

            .vc_custom_1453188252400 {
                margin-top: 30px !important;
                padding-right: 300px !important;
                padding-left: 300px !important;
            }

            .vc_custom_1466498400738 {
                margin-bottom: 0px !important;
            }

            .vc_custom_1453187449850 {
                padding-bottom: 50px !important;
            }

            .vc_custom_1453187139691 {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
        </style>
        <noscript>
            <style type="text/css">
                .wpb_animate_when_almost_visible {
                    opacity: 1;
                }
            </style>
        </noscript>
    </head>

    <body class="page-template page-template-page_visual_composer page-template-page_visual_composer-php page page-id-2639 woocommerce-no-js header-large ltr has_slider header_absolute wpb-js-composer js-comp-ver-5.4.5 vc_responsive">

        <div class="site-wrap">



            <div class="toko-slider-wrap"><div class="toko-slides toko-slider-active"><div class="toko-slide" style="background-image:url(../../Content/Images/book/slider1.jpg);background-size:cover;background-position:center right;background-repeat:no-repeat;"><div class="toko-slide-inner"><div class="toko-slide-detail"><p class="toko-slide-desc">Reading is the best for get idea</p><h2 class="toko-slide-title">Keep Reading</h2>
                <!--<a class="toko-slide-button" href="#">See more</a>--></div></div></div>
                <div class="toko-slide" style="background-image:url(../../Content/Images/book/slider2.jpg);background-size:cover;background-position:center right;background-repeat:no-repeat;"><div class="toko-slide-inner"><div class="toko-slide-detail"><p class="toko-slide-desc">Writing to improve your imagination</p><h2 class="toko-slide-title">Let's Writing</h2>
                    <!--<a class="toko-slide-button" href="#">See more</a>--></div></div></div><div class="toko-slide" style="background-image:url(../../Content/Images/book/slider3.jpg);background-size:cover;background-position:center right;background-repeat:no-repeat;"><div class="toko-slide-inner"><div class="toko-slide-detail"><p class="toko-slide-desc">Reading is the best for get idea</p><h2 class="toko-slide-title">Start Reading</h2>
                <!--<a class="toko-slide-button" href="#">See more</a>--></div></div></div></div></div>
            <div class="books-search">
                <div class="container">
                    <form class="" method="get" action="~/Home/BookSeach">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <input name="s" value="" type="text" class="form-control" id="keyword" placeholder="Book Title">
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <select name='product_cat' id='product_cat' class='form-control'>
                                        <option value='0'>Book Category</option>
                                        <option class="level-0" value="计算机">IT</option>
                                        <option class="level-0" value="小说">Story</option>
                                        <option class="level-0" value="教育">Education</option>
                                        <option class="level-0" value="励志">Inspiration</option>
                                        <option class="level-0" value="历史">History</option>
                                    </select>
                                    <i class='select-arrow fa fa-angle-down'></i>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <select name='book_author' id='book_author' class='form-control'>
                                        <option value='0'>Book Author</option>
                                        <option class="level-0" value="">NOT FOUND</option>
                                    </select>
                                    <i class='select-arrow fa fa-angle-down'></i>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <input type="hidden" name="post_type" value="product" />
                                    <button type="submit" class="btn btn-primary btn-block">
                                        <i class="fa fa-search"></i> &nbsp;
                                        Find Book
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="main-content">


                <div class="main-content-container container">
            <div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1453172877236 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1453187449850">
                                <div class="wpb_wrapper">
                                    <h2 style="font-size: 24px;color: #96919d;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading bookie-label">Popular Books</h2>
                                    <div class="toko-woocommerce woocommerce columns-4 toko-no-carousel clearfix">


                                        <ul class="products " id="toko-carousel-122">

                                            
                                            @foreach (var item in Model)
                                            {
                                                
                                                <li class="post-93 product type-product status-publish has-post-thumbnail  product_cat-culture product_cat-life-style product_tag-culture product_tag-dream product_tag-etnic last instock downloadable shipping-taxable purchasable product-type-simple">
                                                    <div class="product-inner">
                                                        <a href="/Home/BookDetail/@item.book_id" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                            <figure class="product-image-box">
                                                                <img width="250" height="333" src="~/Content/Images/book/@item.picname" class="attachment-woocommerce_thumbnail center-block size-woocommerce_thumbnail" alt="" />
                                                            </figure>
                                                            <div class="product-price-box clearfix">
                                                                <h2 class="woocommerce-loop-product__title">@Html.DisplayFor(modelItem => item.title)</h2>
                                                                <span class="person-name vcard">@Html.DisplayFor(modelItem => item.author)</span>
                                                                <span class="price">
                                                                    <span class="woocommerce-Price-amount amount">
                                                                        <span class="woocommerce-Price-currencySymbol" style="font-size:1em">
                                                                            &#36;
                                                                        </span>@Html.DisplayFor(modelItem => item.price)
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </a><div class="woo-button-wrapper"><div class="woo-button-border"><a href="/Home/BookDetail/@item.book_id" class="button product-button">Detail</a><a href="/Home/AddCart/@item.book_id" data-quantity="1" class="button product_type_simple add_to_cart_button" data-product_id="96" data-product_sku="" aria-label="Add &ldquo;See Me&rdquo; to your cart" rel="nofollow">Buy</a></div></div>
                                                    </div>
                                                </li>


                                            }
                                            


                                        </ul>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row-full-width vc_clearfix"></div>
                     
                    <div class="vc_row-full-width vc_clearfix"></div>

                </div>





            </div>
        </div>


        <script type='text/javascript'>
            jQuery(function ($) { $('.toko-slider-active').owlCarousel({ items: 1, loop: true, autoplayTimeout: 5000, animateOut: 'fadeOut', dots: true, nav: true, autoplay: true, autoplayHoverPause: true, lazyLoad: true, smartSpeed: 700, autoHeight: true, navText: ['<span class="slide-prev-nav"><i class="fa fa-angle-left"></i></span>', '<span class="slide-next-nav"><i class="fa fa-angle-right"></i></span>'] }).addClass('owl-carousel owl-theme'); });
        </script>
    </body>
</html>
