@model DAL.users
@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en-US">

<head>
   
</head>

<body class="page-template page-template-page_fullwidth page-template-page_fullwidth-php page page-id-1709 logged-in woocommerce-account woocommerce-page woocommerce-no-js header-large ltr wpb-js-composer js-comp-ver-5.4.5 vc_responsive">

    <div class="site-wrap">

       

        <section id="page-title" class="page-title">
            <div class="container">


                <h1>My Account</h1>


                <ol class="breadcrumb-trail breadcrumb breadcrumbs"><li><span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" class="home" href="/Home/">Home</a></span></li><li class="active"><span itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><span itemprop="title">My Account</span></span></li></ol>
            </div>
        </section>

        <div class="main-content">


            <div class="main-content-container container">
                <div class="row">

                    <div class="col-md-12">
                        <div id="content" class="main-content-inner" role="main">


                            <article id="post-1709" class="post-1709 page type-page status-publish entry">

                                <div class="entry-content">

                                    <div class="woocommerce">
                                        <nav class="woocommerce-MyAccount-navigation">
                                            <ul>
                                            
                                              <!--  <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                                                    <a href="/Home/cart/@Model.user_id">Orders</a>
                                                </li>-->

                                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                                                    <a href="/Home/order">Orders</a>
                                                </li>
                                               
                                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
                                                    <a href="/Home/userInformation">Account details</a>
                                                </li>
                                                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
                                                    <a href="/Home/Logout">Logout</a>
                                                </li>
                                            </ul>
                                        </nav>


                                    
                                    </div>

                                </div>

                            </article>



                        </div>
                    </div>

                </div>
            </div>


        </div>


       

    </div>

    <script type="text/javascript">
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
    </script>
   
</body>
</html>


