
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>水电管理系统登陆</title>

    
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/lib/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="~/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    
    <link href="~/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/assets/css/lib/unix.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/Login.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/assets/js/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/lib/sweetalert/sweetalert.init.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/layer/layer.js"></script>
    </head>
    <body>
        <div class="login-form">
            <h4>Bookie</h4>
            <form id="form-login">
                <div class="form-group">
                    <label for="userId">用户名</label>
                    <input type="text" class="form-control" id="username" placeholder="UsedName" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd">密码</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <label for="pwd">重复密码</label>
                    <input type="password" class="form-control" id="repassword" placeholder="Password" name="repassword">
                </div>
                <div class="form-group">
                    <label for="userId">邮箱</label>
                    <input type="text" class="form-control" id="email" placeholder="email" name="email">
                </div>
                <div class="form-group">
                    <label for="userId">电话</label>
                    <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="userId">地址</label>
                    <input type="text" class="form-control" id="address" placeholder="Address" name="address">
                </div>
               
                <button type="button" class="btn btn-default" name="submit" id="submit">注册</button>
            </form>
        </div>
        <script>
    $(document).ready(function () {
        $("#submit").click(function () {
            if (!$("#username").val()) {
                sweetAlert("请输入用户名！", "", "error");
                return;
            }

            if (!$('#password').val()) {
                sweetAlert("请输入密码！", "", "error");
                return;
            }
            if (!$('#repassword').val()) {
                sweetAlert("请再输入一次密码！", "", "error");
                return;
            }
            if (!$('#email').val()) {
                sweetAlert("请输入邮箱！", "", "error");
                return;
            }
            if (!$('#phone').val()) {
                sweetAlert("请输入电话！", "", "error");
                return;
            }
            if (!$('#address').val()) {
                sweetAlert("请输入地址！", "", "error");
                return;
            }
          


            $.ajax({
                type: "post",
                url: "ProfileRegister",
                data: {
                    username: $("#username").val(),
                    password: $("#password").val(),
                    repassword: $("#repassword").val(),
                    email: $("#email").val(),
                    phone: $("#phone").val(),
                    address: $("#address").val(),
                    posrcode:$("postcode").val()
                },
                dataType: "json",
                success: function (msg) {
                    if (msg.status == 1) {
                        swal({
                            title: msg.data,
                            text: "",
                            timer: 2000,
                            type: "success",
                            showConfirmButton: false,
                        });
                    } else {
                        sweetAlert(msg.data, "", "error");
                    }
                }
            });

        });
    });
        </script>

    </body>
</html>